/* for compatibility of dat.gui and bootstrap*/
.dg .c input[type=text] {
    line-height:normal;
}
.dg .c div {
    box-sizing: content-box;
}


/* Set gray background color and 100% height */
#sidebar_ui {
    float: left;
    width: 250px;
    background-color: #f1f1f1;
    height: 100%;
    padding: 5px;

}

/*#TF_ui {*/
    /*float: left;*/
    /*width: 250px;*/
    /*background-colour: #f1f1f1;*/
    /*height: 50%;*/
    /*padding: 5px;*/
/*}*/

/* Set gray background color and 100% height */
#sliceview_ui {
    float: right;
    width:250px;
    background-color: #f1f1f1;
    height: 100%;
    padding: 5px;
}

/* Set gray background color and 100% height */
#volview_ui {
    background-color: #e1e1e1;
    padding: 5px;
    margin: 0px 250px 0px 250px;
}

#div_vis3D {
    height: 100vh;
}

#container {
    overflow: hidden;
    height: 100vh;
}
