/* for compatibility of dat.gui and bootstrap*/
.dg .c input[type=text] {
    line-height:normal;
}
.dg .c div {
    box-sizing: content-box;
}

/* set height of the grid so .sidebar_ui can be 100% */
.row.content {
    height: 400px
}

/* Set gray background color and 100% height */
.sidebar_ui {
    width:220px;
    background-color: #f1f1f1;
    height: 100%;
    padding: 1.2em;
}